<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'personal_bio/profile.css' %}">
    <title>Personal Bio</title>
</head>
<body>
    <h2>
        Spider Man
    </h2>
    {% load static %}
    <img src="{% static 'personal_bio/spidey.jpg' %}" alt="insert spiderman image here :)">
    <p>
        Hi! I am your friendly neigborhood  Spiderman! I like to swing, use webs and my spidey sense to stop crimes!
        In my free time i like to listen to music, swing around, work on projects and help people.<br><br>

        My achievements:<br>
        <ul>
            <li>
                Defeating Vulture!
            </li>
            <li>
                Helping Tony Stark in the civil war!
            </li>
            <li>
                Defeating Mysterio!
            </li>
            <li>
                Curing Green Goblin, Doc Ock, Electro and Sandman with the help of a few friends ;)
            </li>
        </ul>

        If you need help! or wanna contact me! feel free to mail me at spideythegreat@gmail.com <br>

        Peace out!
    </p>
</body>
</html>